<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Attendance</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

</head>

<body>
    <label for="date"><b>Select a Date:</b></label>
    <input type="date" id="date" name="date">
    <button type="click" id="srch-btn">Search</button>
    <button type="click" id="fetch-btn">Fetch Attendance report</button><br>
        
    <ul>

    </ul>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
     <script src="script.js"></script>
</body>
</html>
